<!-- Student Reset Password Form -->
<form [formGroup]="studentResetPasswordForm" (ngSubmit)="resetStudentPassword()">
    <h1>Reset Student Password</h1>
    <div *ngIf="errorResponse">
        <p>{{ errorResponse }}</p>
    </div>
    <div *ngIf="successResponse">
        <p>{{ successResponse }}</p>
    </div>
    <label for="email">Email</label>
    <input type="email" placeholder="Enter Email..." formControlName="email" id="email" name="email">
    <div
        *ngIf="studentResetPasswordForm.controls['email']?.invalid && (studentResetPasswordForm.controls['email']?.dirty || studentResetPasswordForm.controls['email']?.touched)">
        <small *ngIf="studentResetPasswordForm.controls['email']?.hasError('email')">
            Please enter a valid email
        </small>
        <small *ngIf="studentResetPasswordForm.controls['email']?.hasError('required')">
            Email is required
        </small>
    </div>
    <label for="password">New Password</label>
    <input type="password" placeholder="Enter new password..." formControlName="password" id="password" name="password">
    <div
        *ngIf="studentResetPasswordForm.controls['password']?.invalid && (studentResetPasswordForm.controls['password']?.dirty || studentResetPasswordForm.controls['email']?.touched)">
        <small *ngIf="studentResetPasswordForm.controls['password']?.hasError('minLength')">
            Password must have atleast 3 characters
        </small>
        <small *ngIf="studentResetPasswordForm.controls['password']?.hasError('maxLength')">
            Password cannot have more than 11 characters
        </small>
    </div>
    <button [disabled]="studentResetPasswordForm.invalid">
        Change Password
    </button>
    <p>
        Go to <a [routerLink]="['/student/login']">Log In</a> page
    </p>
</form>

<!-- Teacher Reset Password Form -->
<form [formGroup]="teacherResetPasswordForm" (ngSubmit)="resetTeacherPassword()">
    <h1>Reset Teacher Password</h1>
    <div *ngIf="errorResponse">
        <p>{{ errorResponse }}</p>
    </div>
    <div *ngIf="successResponse">
        <p>{{ successResponse }}</p>
    </div>
    <label for="email">Email</label>
    <input type="email" placeholder="Enter Email..." formControlName="email" id="email" name="email">
    <div
        *ngIf="teacherResetPasswordForm.controls['email']?.invalid && (teacherResetPasswordForm.controls['email']?.dirty || teacherResetPasswordForm.controls['email']?.touched)">
        <small *ngIf="teacherResetPasswordForm.controls['email']?.hasError('email')">
            Please enter a valid email
        </small>
        <small *ngIf="teacherResetPasswordForm.controls['email']?.hasError('required')">
            Email is required
        </small>
    </div>
    <label for="password">New Password</label>
    <input type="password" placeholder="Enter new password..." formControlName="password" id="password" name="password">
    <div
        *ngIf="teacherResetPasswordForm.controls['password']?.invalid && (teacherResetPasswordForm.controls['password']?.dirty || teacherResetPasswordForm.controls['email']?.touched)">
        <small *ngIf="teacherResetPasswordForm.controls['password']?.hasError('minLength')">
            Password must have atleast 3 characters
        </small>
        <small *ngIf="teacherResetPasswordForm.controls['password']?.hasError('maxLength')">
            Password cannot have more than 11 characters
        </small>
    </div>
    <button [disabled]="teacherResetPasswordForm.invalid">
        Change Password
    </button>
    <p>
        Go to <a [routerLink]="['/teacher/login']">Log In</a> page
    </p>
</form>