<!-- Student Reset Password Form -->
<div
    class="bg-slate-200 grid lg:grid-cols-2 md:grid-cols-1 lg:gap-16 sm:gap-12 place-content-center 2xl:px-96 xl:px-64 lg:px-24 md:px-36 sm:px-12 lg:pt-28 lg:pb-96 md:py-16 sm:py-12">
    <form class="bg-slate-50 shadow-2xl px-6 py-12 rounded-lg" [formGroup]="studentResetPasswordForm"
        (ngSubmit)="resetStudentPassword()">
        <p class="text-2xl font-medium mb-6">Reset Student Password</p>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="email">Email</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="email" placeholder="Enter Email..."
                formControlName="email" id="email" name="email">
        </div>
        <div
            *ngIf="studentResetPasswordForm.controls['email']?.invalid && (studentResetPasswordForm.controls['email']?.dirty || studentResetPasswordForm.controls['email']?.touched)">
            <mat-error *ngIf="studentResetPasswordForm.controls['email']?.hasError('email')">
                Please enter a valid email
            </mat-error>
            <mat-error *ngIf="studentResetPasswordForm.controls['email']?.hasError('required')">
                Email is required
            </mat-error>
        </div>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="password">New Password</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="password" placeholder="Enter new password..."
                formControlName="password" id="password" name="password">
        </div>
        <div
            *ngIf="studentResetPasswordForm.controls['password']?.invalid && (studentResetPasswordForm.controls['password']?.dirty || studentResetPasswordForm.controls['email']?.touched)">
            <mat-error *ngIf="studentResetPasswordForm.controls['password']?.hasError('minLength')">
                Password must have atleast 3 characters
            </mat-error>
            <mat-error *ngIf="studentResetPasswordForm.controls['password']?.hasError('maxLength')">
                Password cannot have more than 11 characters
            </mat-error>
        </div>
        <div class="w-full bg-red-200 px-4 py-3 rounded-lg my-7" *ngIf="errorResponse">
            <strong class="text-sm text-center text-red-700">{{ errorResponse }}</strong>
        </div>
        <div *ngIf="successResponse">
            <strong class="text-sm text-center text-red-700">{{ successResponse }}</strong>
        </div>
        <div class="mt-10 mb-4">
            <button class="bg-cyan-800 hover:bg-cyan-900 cursor-pointer text-white text-sm w-full rounded-lg px-4 py-3"
                [disabled]="studentResetPasswordForm.invalid">
                Change Password
            </button>
        </div>
        <div class="text-center">
            <p class="font-medium text-sm">
                Go to <a class="font-extrabold text-sm" [routerLink]="['/student/login']">Log In</a> page
            </p>
        </div>
    </form>

    <!-- Teacher Reset Password Form -->
    <form class="bg-slate-50 shadow-2xl px-6 py-12 rounded-lg" [formGroup]="teacherResetPasswordForm"
        (ngSubmit)="resetTeacherPassword()">
        <p class="text-2xl font-medium mb-6">Reset Teacher Password</p>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="email">Email</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="email" placeholder="Enter Email..."
                formControlName="email" id="email" name="email">
        </div>
        <div
            *ngIf="teacherResetPasswordForm.controls['email']?.invalid && (teacherResetPasswordForm.controls['email']?.dirty || teacherResetPasswordForm.controls['email']?.touched)">
            <small *ngIf="teacherResetPasswordForm.controls['email']?.hasError('email')">
                Please enter a valid email
            </small>
            <small *ngIf="teacherResetPasswordForm.controls['email']?.hasError('required')">
                Email is required
            </small>
        </div>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="password">New Password</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="password" placeholder="Enter new password..."
                formControlName="password" id="password" name="password">
        </div>
        <div
            *ngIf="teacherResetPasswordForm.controls['password']?.invalid && (teacherResetPasswordForm.controls['password']?.dirty || teacherResetPasswordForm.controls['email']?.touched)">
            <small *ngIf="teacherResetPasswordForm.controls['password']?.hasError('minLength')">
                Password must have atleast 3 characters
            </small>
            <small *ngIf="teacherResetPasswordForm.controls['password']?.hasError('maxLength')">
                Password cannot have more than 11 characters
            </small>
        </div>
        <div class="w-full bg-red-200 px-4 py-3 rounded-lg my-7" *ngIf="errorResponse">
            <strong class="text-sm text-center text-red-700">{{ errorResponse }}</strong>
        </div>
        <div *ngIf="successResponse">
            <strong class="text-sm text-center text-red-700">{{ successResponse }}</strong>
        </div>
        <div class="mt-10 mb-4">
            <button class="bg-cyan-800 hover:bg-cyan-900 cursor-pointer text-white text-sm w-full rounded-lg px-4 py-3"
                [disabled]="teacherResetPasswordForm.invalid">
                Change Password
            </button>
        </div>
        <div class="text-center">
            <p class="font-medium text-sm">
                Go to <a class="font-extrabold text-sm" [routerLink]="['/teacher/login']">Log In</a> page
            </p>
        </div>
    </form>
</div>