<div class="grid place-content-center py-32">
    <form class="bg-slate-50 shadow-2xl px-6 py-12 rounded-lg" [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword()">
        <p class="text-2xl font-medium mb-6">Reset Password</p>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="email">Email</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="email" placeholder="Enter Email..."
                formControlName="email" id="email" name="email">
        </div>
        <div
            *ngIf="resetPasswordForm.controls['email']?.invalid && (resetPasswordForm.controls['email']?.dirty || resetPasswordForm.controls['email']?.touched)">
            <mat-error *ngIf="resetPasswordForm.controls['email']?.hasError('email')">
                Please enter a valid email
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.controls['email']?.hasError('required')">
                Email is required
            </mat-error>
        </div>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="password">New Password</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="password" placeholder="Enter new password..."
                formControlName="password" id="password" name="password">
        </div>
        <div
            *ngIf="resetPasswordForm.controls['password']?.invalid && (resetPasswordForm.controls['password']?.dirty || resetPasswordForm.controls['email']?.touched)">
            <mat-error *ngIf="resetPasswordForm.controls['password']?.hasError('minLength')">
                Password must have atleast 3 characters
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.controls['password']?.hasError('maxLength')">
                Password cannot have more than 11 characters
            </mat-error>
        </div>
        <div class="w-full bg-red-200 px-4 py-3 rounded-lg my-7" *ngIf="errorResponse">
            <strong class="text-sm text-center text-red-700">{{ errorResponse }}</strong>
        </div>
        <div *ngIf="successResponse">
            <strong class="text-sm text-center text-red-700">{{ successResponse }}</strong>
        </div>
        <div class="mt-10 mb-4">
            <button class="bg-cyan-800 hover:bg-cyan-900 cursor-pointer text-white text-sm w-full rounded-lg px-4 py-3"
                [disabled]="resetPasswordForm.invalid">
                Change Password
            </button>
        </div>
        <div class="text-center">
            <p class="font-medium text-sm">
                Go to <a class="font-extrabold text-sm" [routerLink]="['/user/login']">Log In</a> page
            </p>
        </div>
    </form>
</div>