<div class="grid place-content-center py-12">
    <form class="bg-slate-50 shadow-2xl px-6 py-12 rounded-lg" [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <p class="text-2xl font-medium mb-6">User Registration</p>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="role">Register As</label>
            <select class="bg-slate-200 px-4 py-3 rounded-lg" placeholder="Select role..." formControlName="role"
                id="role" name="role">
                <option>Student</option>
                <option>Teacher</option>
            </select>
        </div>
        <div
            *ngIf="(registerForm.controls['role']?.dirty || registerForm.controls['role']?.touched) && registerForm.controls['role'].invalid">
            <mat-error *ngIf="!!registerForm.controls['role']?.hasError('required')">
                Role is required
            </mat-error>
        </div>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="name">Name</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="text" placeholder="Enter name..."
                formControlName="name" id="name" name="name" />
        </div>
        <div
            *ngIf="(registerForm.controls['name']?.dirty || registerForm.controls['name']?.touched) && registerForm.controls['name'].invalid">
            <mat-error *ngIf="registerForm.controls['name']?.hasError('required')">
                Username is required
            </mat-error>
            <mat-error *ngIf="registerForm.controls['name']?.hasError('minlength')">
                Username must contain atleast 3 letters
            </mat-error>
        </div>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="email">Email</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="email" placeholder="Enter email..."
                formControlName="email" id="email" name="email" />
        </div>
        <div
            *ngIf="(registerForm.controls['email']?.dirty || registerForm.controls['email']?.touched) && registerForm.controls['email'].invalid">
            <mat-error *ngIf="registerForm.controls['email']?.hasError('email')">
                Please enter a valid email
            </mat-error>
            <mat-error *ngIf="registerForm.controls['email']?.hasError('required')">
                Email is required
            </mat-error>
        </div>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="password">Password</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="password" placeholder="Enter password..."
                formControlName="password" id="password" name="password" />
        </div>
        <div
            *ngIf="(registerForm.controls['password']?.dirty || registerForm.controls['password']?.touched) && registerForm.controls['password'].invalid">
            <mat-error *ngIf="registerForm.controls['password']?.hasError('required')">
                Password is required
            </mat-error>
            <mat-error
                *ngIf="(registerForm.controls['password']?.hasError('minlength') || registerForm.controls['password']?.hasError('maxLength'))">
                Please enter a password between 3 to 11 characters
            </mat-error>
        </div>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="mobile">Mobile No.</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="text" placeholder="Enter mobile no..."
                formControlName="mobile" id="mobile" name="mobile" />
        </div>
        <div
            *ngIf="(registerForm.controls['mobile']?.dirty || registerForm.controls['mobile']?.touched) && registerForm.controls['mobile'].invalid">
            <mat-error *ngIf="registerForm.controls['mobile']?.hasError('required')">
                Mobile number is required
            </mat-error>
            <mat-error *ngIf="registerForm.controls['mobile']?.hasError('minlength')">
                Mobile number must have atleast 11 digits.
            </mat-error>
            <mat-error *ngIf="registerForm.controls['mobile']?.hasError('maxlength')">
                Mobile number cannot have more than 14 characters.
            </mat-error>
        </div>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="mobile">Date of Birth</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="date" max="2018-12-31"
                placeholder="Enter date of birth..." formControlName="birth_date" id="birth_date" name="birth_date" />
        </div>
        <div *ngIf="registerForm.controls['birth_date']?.touched">
            <mat-error *ngIf="registerForm.controls['mobile']?.hasError('required')">
                Birth date is required
            </mat-error>
        </div>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="gender">Gender</label>
            <select class="bg-slate-200 px-4 py-3 rounded-lg" placeholder="Choose gender..." formControlName="gender"
                id="gender" name="gender">
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
            </select>
        </div>
        <div
            *ngIf="(registerForm.controls['gender']?.dirty || registerForm.controls['gender']?.touched) && registerForm.controls['gender'].invalid">
            <mat-error *ngIf="!!registerForm.controls['gender']?.hasError('required')">
                Gender is required
            </mat-error>
        </div>
        <div class="flex flex-col py-3">
            <label class="bg-slate-200 px-4 py-3 rounded-lg" class="font-medium text-sm mb-1"
                for="address">Address</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="text" placeholder="Enter address..."
                formControlName="address" id="address" name="address" />
        </div>
        <div
            *ngIf="(registerForm.controls['address']?.dirty || registerForm.controls['address']?.touched) && registerForm.controls['address'].invalid">
            <mat-error *ngIf="registerForm.controls['address']?.hasError('required')">
                Address is required
            </mat-error>
            <mat-error *ngIf="registerForm.controls['mobile']?.hasError('minLength')">
                Address cannot have less than 4 characters
            </mat-error>
        </div>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="father_name">Father's Name</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="text" placeholder="Enter father's name..."
                formControlName="father_name" id="father_name" name="father_name" />
        </div>
        <div
            *ngIf="(registerForm.controls['father_name']?.dirty || registerForm.controls['father_name']?.touched) && registerForm.controls['father_name'].invalid">
            <mat-error *ngIf="registerForm.controls['father_name']?.hasError('required')">
                Father's name is required
            </mat-error>
            <mat-error *ngIf="registerForm.controls['father_name']?.hasError('minlength')">
                Father's name must contain atleast 3 letters
            </mat-error>
        </div>
        <div class="flex flex-col py-3">
            <label class="font-medium text-sm mb-1" for="mother_name">Mother's Name</label>
            <input class="bg-slate-200 px-4 py-3 rounded-lg" type="text" placeholder="Enter mother's name..."
                formControlName="mother_name" id="mother_name" name="mother_name" />
        </div>
        <div
            *ngIf="(registerForm.controls['mother_name']?.dirty || registerForm.controls['mother_name']?.touched) && registerForm.controls['mother_name'].invalid">
            <mat-error *ngIf="registerForm.controls['mother_name']?.hasError('required')">
                Mother's name is required
            </mat-error>
            <mat-error *ngIf="registerForm.controls['mother_name']?.hasError('minlength')">
                Mother's name must contain atleast 3 letters
            </mat-error>
        </div>
        <div class="w-full bg-red-200 px-4 py-3 rounded-lg my-7" *ngIf="errorResponse">
            <strong class="text-sm text-center text-red-700">{{ errorResponse }}</strong>
        </div>
        <div class="mt-10 mb-4">
            <button class="bg-cyan-800 hover:bg-cyan-900 cursor-pointer text-white text-sm w-full rounded-lg px-4 py-3"
                [disabled]="registerForm.invalid">
                Register
            </button>
        </div>
        <div class="text-center">
            <p class="font-medium text-sm">
                Already have an account? Click here to <a class="font-extrabold" [routerLink]="['/user/login']">Log
                    In</a>
            </p>
        </div>
    </form>
</div>